<%- include('../partials/metadata') %>
<%- include('../partials/navbar', {profile: locals.profile }) %>

<% if (locals.post) { %>
<% const {id, type, name, age, date, address, photo, category, created_by, description, request, archived,
        cared_by, comments}=locals.post %>
<main class="w-screen pt-28 flex justify-center">
  <section class='min-h-full flex flex-col w-2/12'>
    <div class="sticky top-16 border-b border-gray-200 bg-white dark:border-gray-700">
      <ul class="-mb-px flex flex-wrap text-center text-sm font-medium text-gray-500 dark:text-gray-400">
        <li id="comments-tab" onclick='changeTab("comments")' class="tab-text tab-inactive group mr-2 inline-flex cursor-pointer rounded-t-lg border-b-2 border-transparent p-4">
          <svg aria-hidden="true" class="tab-icon mr-2 h-5 w-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path d="M5 3a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2V5a2 2 0 00-2-2H5zM5 11a2 2 0 00-2 2v2a2 2 0 002 2h2a2 2 0 002-2v-2a2 2 0 00-2-2H5zM11 5a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V5zM11 13a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z">
            </path>
          </svg>
          Discussion
        </li>
      </ul>
    </div>
    <div id="comments-container" class="w-full py-8">
      <form action="/post-comment/<%= id %>" method="post">
        <input type="hidden" name="type" value="comments" />
        <div class="-ml-2.5 flex items-center rounded-lg bg-gray-50">
          <textarea id="chat" rows="1" name="message" <%=archived && "disabled" %> class="block w-full rounded-lg border-2 border-rose-500 disabled:border-gray-200 bg-white p-4 text-sm text-gray-900 focus:border-rose-500 focus:ring-rose-500 dark:border-rose-600 dark:bg-gray-800 dark:text-white dark:placeholder-gray-400 dark:focus:border-rose-500 dark:focus:ring-rose-500" placeholder="Your message..."></textarea>
          <button type="submit" <%=archived && "disabled" %> class="ml-2 inline-flex cursor-pointer justify-center rounded-full p-2 text-rose-600
                    hover:bg-rose-100 dark:text-rose-500 dark:hover:bg-gray-600 disabled:text-gray-200">
            <svg aria-hidden="true" class="h-10 w-10 rotate-90" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.894 2.553a1 1 0 00-1.788 0l-7 14a1 1 0 001.169 1.409l5-1.429A1 1 0 009 15.571V11a1 1 0 112 0v4.571a1 1 0 00.725.962l5 1.428a1 1 0 001.17-1.408l-7-14z">
              </path>
            </svg>
            <span class="sr-only">Send message</span>
          </button>
        </div>
      </form>
      <% comments.reverse().forEach(({date, message, created_by})=> { %>
      <div class="pr-16 mb-2">
        <div class="ml-3 mb-1 mt-2 flex items-center">
          <h5 class="text-xs font-bold tracking-tight text-gray-900 dark:text-white">
            <%= created_by %>
          </h5>
          <div class="ml-auto mb-1 mt-2 mr-3">
            <i class="text-xs tracking-tight text-gray-900 dark:text-white">
              <%= dateFormat(date, 'hh:mm "on" d mmm' ) %>
            </i>
          </div>
        </div>
        <div class="bg-grey-900 block rounded-lg border border-gray-200 p-3 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
          <p class="text-sm font-normal text-gray-700 dark:text-gray-400">
            <%= message %>
          </p>
        </div>
      </div>
      <% }) %>
    </div>
  </section>
  <section class='m-5 p-5 shadow-2xl rounded-lg row-span-2 w-3/12'>
    <% if(archived) {%>
    <h3 class='text-lg pb-4 text-center'>ARCHIVED</h3>
    <% }%>

    <div class="flex w-full h-64 items-end bg-cover bg-center rounded-md" style="background-image: url(' <%=photo %>')">
    </div>
    <article class='p-4'>
      <div class='flex justify-between'>
        <h5 class="text-xs tracking-tight text-red-500">
          <%= dateFormat(date, 'ddd, d mmm "at" hh:mm' ) %>
        </h5>
        <% if(created_by !==profile.username ) %>
        <h3 class="mb-3 text-xs tracking-tight text-gray-500 dark:text-white">
          <%= created_by %>
        </h3>
      </div>
      <h1 class="text-2xl font-bold tracking-tight my-2">
        <%= name %>
      </h1>
      <div class='py-2'>
        <h5 class="text-xs tracking-tight text-gray-400">
          Address
        </h5>
        <h5 class="text-sm tracking-tight mt-1">
          <%= address %>
        </h5>
      </div>
      <div class='py-2'>
        <h5 class="text-xs tracking-tight text-gray-400">
          Description
        </h5>
        <h5 class="text-sm tracking-tight mt-1">
          <%= description %>
        </h5>
      </div>
      </div>
    </article>
    <article class='flex w-full'>
      <% if(created_by!==profile.username) { %>
      <% if(!request.some(e=>e.username===profile.username)) { %>
      <a href='//<%=baseURL%>/post-request/<%= id %>' class='w-full justify-center items-center py-4 px-4 text-sm font-bold text-center text-white bg-rose-700 rounded-xl hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800'>
        <%= type==='adoption' ? 'Request for Adopt' : 'Request to Care' %>
      </a>
      <% } else if (cared_by===profile.username) { %>
      <a href='//<%=baseURL%>/post-takeback/<%= id %>' class='items-center py-4 px-4 text-sm font-bold text-center text-white bg-green-700 rounded-xl hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-rose-300 dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800'>
        Return Back
      </a>
      <%} else { %>
      <a href='//<%=baseURL%>/post-cancel/<%= id %>' class='w-full justify-center items-center py-4 px-4 text-sm font-bold text-center text-white bg-gray-300 rounded-xl hover:bg-rose-800 focus:ring-4 focus:outline-none focus:ring-rose-300 dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800'>
        Cancel Request
      </a>
      <% } %>
      <% } %>
    </article>
  </section>

  <% if(created_by==profile.username && cared_by=='' ) { %>
  <section class="fixed right-3 bottom-3 rounded-lg shadow-md p-4 bg-gray-100">
    <h3 class="mb-3 text-base font-bold tracking-tight text-gray-900 dark:text-white">
      Requests
    </h3>
    <div class="flex flex-col gap-3 text-black w-64 text-md">
      <%= request.length==0 ? "No requests..." : null %>
      <% request.map(({username})=> { %>
      <div class="flex justify-between items-center w-full  bg-white p-2 rounded-lg">
        <div class='flex gap-3'>
          <img class="h-7 w-7 rounded-md" src="//<%=baseURL%>/avatar.jpg" alt="" />
          <div class='text-sm font-bold mt-1'>
            <%= username %>
          </div>
        </div>
        <a href='//<%=baseURL%>/post-accept/<%= id %>?username=<%= username %>' class='items-center py-4 px-4 text-sm font-bold text-center text-white bg-green-700 rounded-xl hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-rose-300 dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800'>
          Accept
        </a>
      </div>
      <% }) %>
    </div>
  </section>
  <% } %>
  <% if(created_by==profile.username && cared_by && cared_by !='' ) { %>
  <section class="fixed right-3 bottom-3 rounded-lg shadow-md p-4 bg-gray-300">
    <h3 class="mb-3 text-base font-bold tracking-tight text-gray-900 dark:text-white">
      In care of
    </h3>
    <div class="flex flex-col gap-3 text-black  w-64">
      <% request.map(({username})=> { %>
      <div class="flex justify-between items-center w-full  bg-white p-2 rounded-lg">
        <div class='flex gap-3'>
          <img class="h-7 w-7 rounded-md" src="//<%=baseURL%>/avatar.jpg" alt="" />
          <div class='text-sm font-bold mt-1'>
            <%= cared_by %>
          </div>
        </div>
        <a href='//<%=baseURL%>/post-takeback/<%= id %>' class='items-center py-4 px-4 text-sm font-bold text-center text-white bg-green-700 rounded-xl hover:bg-green-800 focus:ring-4 focus:outline-none focus:ring-rose-300 dark:bg-rose-600 dark:hover:bg-rose-700 dark:focus:ring-rose-800'>
          Take Bake
        </a>
      </div>
      <% }) %>
    </div>
  </section>
  <% } %>
</main>
<% } %>
<%- include('../partials/close') %>
